@font-face {
  font-family: "proclamate_heavy";
  src: url("assets/fonts/proclamate/proclamate_heavy-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proclamate_incisedheavy";
  src: url("assets/fonts/proclamate/proclamate_incised-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proclamate_light";
  src: url("assets/fonts/proclamate/proclamate_light-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --spacing: 10px;
  --line-height: 2.4rem;
}

html,
body {
  font-family: "Vollkorn", sans-serif;
  font-size: 10px;
  margin: 0;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
}

body {
  margin: var(--spacing);
}

main {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  font-size: 1.8rem;
  z-index: 10;
}

.image-alchemical-circle {
  position: absolute;
  display: none;
  top: 650px;
  left: 17%;
  width: 450px;
  z-index: 1;
  opacity: 0.1;
  animation: spin 60s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  main {
    font-size: 2rem;
  }

  .image-alchemical-circle {
    display: block;
  }
}

p {
  margin: 0;
  margin-bottom: var(--line-height);
  line-height: var(--line-height);
}

.emphasize {
  font-weight: 800;
}

@media (min-width: 600px) {
  p {
    /* margin-bottom: 0; */
  }
}

.btn-roll-spell {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Vollkorn", serif;
  font-size: 2rem;
  width: 180px;
  height: 40px;
  background-image: url(/assets/images/roll-spell-bg.jpg);
  background-size: 180px;
  border: 0;
  border: 2px solid #302e6f;
  color: white;
}

.btn-roll-spell:hover {
  cursor: pointer;
}

.header {
  margin-bottom: calc(var(--line-height) * 2);
}

.cwacof {
  font-family: "proclamate_incisedheavy";
  font-size: 4rem;
  text-align: center;
  margin-bottom: calc(var(--line-height) / 2);
}

.subtitle {
  text-align: center;
}

.spell-name {
  font-family: "proclamate_heavy";
  font-size: 3rem;
  margin: 0;
}

.spell-name-drop-cap {
  color: red;
  font-size: 7rem;
  float: left;
  margin-right: 4px;
  height: 65px;
}

@media (min-width: 600px) {
  .spell-name-drop-cap {
    font-size: 8rem;
    height: 80px;
  }
}

.spell-reroll {
  color: red;
}

.image-fireballs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

@media (min-width: 600px) {
  .image-fireballs {
    width: auto;
    margin-bottom: var(--spacing);
  }
}

.image-spell-catastrophe {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-20px);
}

@media (min-width: 600px) {
  .image-spell-catastrophe {
    float: right;
    width: 200px;
    transform: translateY(-28px);
  }
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

.section-table {
  border-top: 1px solid black;
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 2);
}

.table {
  width: 100%;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .table {
    font-size: 2rem;
  }
}

.table tr:nth-child(odd) {
  background-color: #ffcb47;
}

.table tr:nth-child(even) {
  background-color: #f3f2e2;
}

.table td {
  border: 1px solid #302e6f;
  padding: var(--spacing);
}

.table-label {
  font-weight: 800;
}

.table-label-width {
  width: 80px;
}

@media (min-width: 600px) {
  .table-label-width {
    width: 160px;
  }
}

.image-line-ornament {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.footer {
  color: #302e6f;
  font-size: 1.6rem;
  text-align: center;
  padding: var(--line-height);
}
